.conference-box {
	margin-bottom: 20px;
}

.language{
	float:left;
	margin-right: 4px;
}

.talk-title{
	font-size: 1.2em;
}

.speaker {
	float: left;
	margin-right:10px;
}

.conference {
	float: left;
	text-overflow: ellipsis;
}

.abstract {
	clear: both;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
